.navigation ul {
    gap: 15px;
}

.list {
    position: relative;
    width: 70px;
    height: 44px;
    z-index: 2;
    padding-top: 6px;
}

.active {}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 44px;
    z-index: 2;
    padding-top: 6px;
}

.navigation ul li a { 
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a img {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    transition: 0.5s;
}

.navigation ul li.active a img {
    transform: translateY(33px);
    filter: invert(38%) sepia(95%) saturate(2100%) hue-rotate(171deg) brightness(92%) contrast(91%);
}

.navigation ul li a .text {
    position: absolute;
    background: #2196f3;
    color: white;
    padding: 2px 7px;
    border-radius: 12px;
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(15px);
}

.navigation ul li.active a .text {
    transform: translateY(2.5px);
    opacity: 1;
}

.indicator {
    position: absolute;
    bottom: -30px;
    width: 70px;
    height: 70px;
    background: white;
    border-radius: 50%;
    z-index: 1;
    transition: 0.5s;
}

.indicator::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40px;
    left: -26px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 13px -21px white;
}

.indicator::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    top: 40px;
    left: 66px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -13px -21px white;
}